# Node.js / NPM
node_modules/
jspm_packages/
.npm/
*.tgz

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock

# Environment
.env
.env.*.local
.env.local

# Build outputs
.cache/
build/
dist/
public/

# Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
out/

# Runtime data
*.tmp
*.temp

# Testing
coverage/
*.test.js
*.spec.js
*.enzyme.js

# Misc
.DS_Store
.idea/
*.userprefs
*.nupkg
Temp/
ReactApp.Server/

.vs