# Node.js / NPM
node_modules/
jspm_packages/
.npm/
*.tgz

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids/
*.pid
*.seed
*.pid.lock

# Environment files
.env
.env.*.local
.env.local

# Build outputs
.cache/
build/
dist/
public/
**/bin/
**/obj/

# Editor and IDE
.vscode/
.vs/
*.suo
*.user
*.ntvs*
*.njsproj
*.iml
.idea/
out/
Temp/

# Runtime data
*.tmp
*.temp
*.db
*.db-shm
*.db-wal
App_Data/

# Testing
coverage/
*.test.js
*.spec.js
*.enzyme.js

# Misc
.DS_Store
*.userprefs
*.nupkg

# Archive or backup folders
_archive_/
backup/

# Additional ignores
Thumbs.db
desktop.ini
*.orig
*.rej
gh-pages/
.vite/
reactapp.client/.vite/
reactapp.client/node_modules/
reactapp.client/dist/
