.metric-card,
.chart-card {
    max-height:35vh;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.chart-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
